<h2>Configure Field <%= field.name %></h2>
<%= render :template => 'shared/fields/create_select_field_option' ,:locals => { :field => field, :parentOption => nil }%>
<div align="right">
  <a class="btn btn-primary" data-toggle="modal" href="#myCreateSelectFieldOptionModal">Add Parent Select Option</a>
</div>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  <% field.field_option.each do |options| %>
     <% if options.parent_field_option == nil %>
      <tr>
        <td>
          <%= link_to options.option, {:controller => 'admin_field',:action => 'configure_child_field', :id => options.id,:field => field.id} %>
        </td>
        <td><%= render :template => 'shared/fields/delete_field_option',:locals => { :option => options.id,:field => field.id }%></td>
      </tr>
          <% end %>
  <% end %>
</table>
