<div class="pagination" style="text-align: right;">
  <ul>
    <% if @assets.current_page != 1 %>
        <li><a href="#">Prev</a></li>
    <% end %>
    <% counter = 1 %>
    <% @assets.total_pages.times do  %>
        <li><a href="#"><%= counter %></a></li>
        <% counter += 1 %>
    <% end %>
    <% if @assets.current_page != @assets.total_pages %>
        <li><a href="#">Next</a></li>
    <% end %>
  </ul>
</div>