<div id="amazon_div" style="display: none;">
  <tr>
    <td><%=  text_field('amazon','username',:placeholder => "AWS Username") %></td>
  </tr>
  <tr>
    <td><%=  text_field('amazon','api_key',:placeholder => "API Key") %></td>
  </tr>
  <%= hidden_field('vendor','vendor',:value=>'amazon') %>
</div>