<div id="amazon_div" style="display: none;">
  <table>
  <tr>
    <td><%=  text_field('amazon','access_id',:placeholder => "AWS Access Id") %></td>
  </tr>
  <tr>
    <td><%=  text_field('amazon','secret_access_key',:placeholder => "AWS Secret Access Key") %></td>
  </tr>
  <%= hidden_field('vendor','vendor',:value=>'amazon') %>
      </table>
</div>