<%= render :template => 'shared/navbar' ,:locals => {:assetsNav => false, :searchNav => false,:adminNav => true}%>
<ul class="breadcrumb">
  <li><%= link_to "Cloud Vendors", :controller =>"cloud_vendors",:action =>"index" %></li>
</ul>