<div id="rackspace_div" style="display: none;">
  <table>
    <tr>
      <td><%=  text_field('rackspace','username',:placeholder => "Username") %></td>
    </tr>
    <tr>
      <td><%=  text_field('rackspace','api_key',:placeholder => "API Key") %></td>
    </tr>
  </table>
  <%= hidden_field('vendor','vendor',:value=>'rackspace') %>
</div>