<table border="0">
  <% field.field_option.each do |fieldOption| %>
      <tr>
        <td><%= fieldOption.option %></td>
        <% if value != nil and BSON::ObjectId.from_string(value) == fieldOption.id %>
            <td><%= radio_button(field.name,field.name, fieldOption.id,{:checked => true}) %></td>
        <% else %>
            <td><%= radio_button(field.name,field.name, fieldOption.id) %></td>
        <% end %>
      </tr>
  <% end %>
</table>
