<div class="sidebar-nav">
  <div class="well" style="padding: 8px 0;">
    <ul class="nav nav-list">
      <li class="nav-header">Main</li>
      <li><%= link_to 'Assets',:controller => 'admin_field', :action => 'list_asset_types'  %></li>
      <li><%= link_to 'Fields',:controller => 'admin_field', :action => 'list_fields'  %></li>
      <li><%= link_to 'Users',:controller => 'users', :action => 'index'  %></li>
      <li><%= link_to 'Index',:controller => 'index', :action => 'index'  %></li>
    </ul>
  </div>
</div>

