<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12 container">

    <h1>Asset Updated <%= link_to @asset.name ,:controller => "assets", :action => "view",:only_path => false, :id => @asset.id.to_s  %></h1>
    <div class="container well">
      <div class="control-group">
        <h2>Default Fields</h2>
        <table class="table table-hover " width="100%">
          <tr><td>Name</td>
            <td><%=  @asset.name %></td>
          </tr>
          <tr>
            <td>Description</td>
            <td><%=  @asset.description %></td>
          </tr>
        </table>
      </div>
    </div>

    <% if @asset.field_value.count() > 0 %>
        <div class="container well">
          <div class="control-group">
            <h2>Custom Fields</h2>
            <table class="table table-hover " width="100%">
              <%  AssetType.find(@asset.asset_type_id).asset_screen.each do |assetScreenField| %>
                  <tr>
                    <%= render :template => 'shared/fields/view/'+FieldType.find(Field.find(assetScreenField.field_id).field_type_id).type_name.downcase.gsub(' ','_')+'_view' ,
                               :locals => { :field_name => Field.find(assetScreenField.field_id).name, :field_id  => assetScreenField.field_id,
                                            :value => @asset.field_value.detect {|c|c.field_id == BSON::ObjectId.from_string(assetScreenField.field_id)}, :wiki_enabled => Field.find(assetScreenField.field_id).wiki_enabled} %>
                  </tr>
              <% end%>
            </table>
          </div>
        </div>
    <% end %>
    </div>
  </div>
</div>
  </body>
</html>