<% if valueImage != nil %>
    <td><%= field_name %></td>
    <td><a href="<%= valueImage.photo.base64 %>" rel="lightbox"> <img  src="<%= valueImage.photo.base64('thumb') %>"></a>
    </td>
<% end %>
