<script type="text/javascript">
    function loadPasswordToClipboard()
    {
        $.ajax({
            url: '/assets/api_decryptPassword',
            dataType: 'json',
            data: {
                data: "<%= value.password_value %>"
            },
            type: "POST",
            success: function(data) {
            },
            complete: function(request)	{
                window.prompt ("Copy to clipboard: Ctrl+C, Enter", request.responseText);
            }
        });
    }
</script>
<% if value != nil %>
    <td><%= field_name %>:</td>
    <td><a id="<%= field_name %>" class="btn btn-info" onclick="loadPasswordToClipboard();">********</a></td>
<% end %>

