<td><%= field_name %></td>
<td><%=  select(field_name,field_name, Field.find(BSON::ObjectId.from_string(field_id)).field_option.collect {|p| [ p.option, p.id ] } ,{},{:multiple => true}) %></td>
<%= hidden_field(field_name, field_name+'_type',:value=> 'multi_option') %>