<td><%= field_name %></td>
<% if required %>
    <td><%=  text_area(field_name,field_name, { :cols => 40, :rows => 8},"data-validation" => "required") %></td>
<% else %>
    <td><%=  text_area(field_name,field_name, { :cols => 40, :rows => 8}) %></td>
<% end %>
<%= hidden_field(field_name, field_name+'_type',:value=> 'text') %>