<td xmlns="http://www.w3.org/1999/html"><%= field_name %></td>
<td>
  <table border="0">
    <% Field.find(field_id).field_option.each do |field| %>
        <tr>
          <td><%= field.option %></td>
          <td><%= radio_button(field_name,field_name, field.id) %></td>
        </tr>
    <% end %>
  </table>
</td>
<%= hidden_field(field_name, field_name+'_type',:value=> 'single_option') %>