<div class="control-group">
  <label class="control-label" style="color: #ffffff;"><%= field_name %></label>
  <div class="controls">
    <% if required %>
        <td><%=  select(field_name,field_name, Field.find(BSON::ObjectId.from_string(field_id)).field_option.sort_by(&:option).collect {|p| [ p.option, p.id ] },{:prompt => "Please Select"},"data-validation" => "required") %></td>
    <% else %>
        <td><%=  select(field_name,field_name, Field.find(BSON::ObjectId.from_string(field_id)).field_option.sort_by(&:option).collect {|p| [ p.option, p.id ] },{:prompt => "Please Select"}) %></td>
    <% end %>
    <%= hidden_field(field_name, field_name+'_type',:value=> 'single_option') %>
  </div>
</div>