<td><%= field_name %></td>
<% if required %>
    <td><%=  text_field(field_name,field_name,"data-validation" => "required") %></td>
<% else %>
    <td><%=  text_field(field_name,field_name) %></td>
<% end %>
<%= hidden_field(field_name, field_name+'_type',:value=> 'text') %>