<div class="modal hide fade in" id="myCreateAssetModal" style="display: none;">
  <div class="modal-header">
    <button class="close" data-toggle="modal" href="#myCreateAssetModal">×</button>
    <h3>Create Asset</h3>
  </div>
  <div class="modal-body" align="center">

    <form method="post" class="well" action="create">
        <table>
            <%  AssetScreen.find_all_by_asset_id(1).each do |assetScreenField| %>
              <tr>
                <td> <%= render :template => 'shared/fields/'+FieldType.find(Field.find(assetScreenField.field_id).field_type_id).type_name.downcase.gsub(' ','_')+'_display' ,
                                :locals => { :field_name => Field.find(assetScreenField.field_id).name, :field_id  => assetScreenField.field_id} %> </td>
              </tr>
            <% end%>
        </table>
        <div class="modal-footer">

          <%= submit_tag "Create" ,:class => 'btn btn-primary'%>
          <a data-toggle="modal" href="#myCreateAssetModal" class="btn secondary">No</a>
        </div>
    </form>
  </div>

</div>