<%= render :template => 'shared/navbar' ,:locals => {:assetsNav => true, :searchNav => false,:adminNav => false}%>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3 container">
      <table class="table table-hover" style="width: 100%;">
        <tr>
          <th style="font-size: 14px;">
            Asset Type
          </th>
        </tr>
        <% @asset_by_type.each_key do |key| %>
            <tr style="background-color: white;">
              <td style="text-align: center;">
                <%= key %>
              </td>
            </tr>
        <% end %>
      </table>
    </div>
    <div class="span8 container">

    </div>
  </div>
</div>

