<div class="modal hide" id="myAddMember" style="display: none;">
  <div class="modal-header">
    <button class="close" data-toggle="modal" href="#myAddMember">×</button>
    <h3 style="text-align: center;">Add Member</h3>
  </div>
  <div class="modal-body" align="center">
    <form method="post" class="well" action="/group/add_member" onsubmit="return $(this).validate()">
      <input name="authenticity_token" type="hidden" value="token_value">
      <table>
        <tr>
          <td><%=  select('users','users',Field.find(BSON::ObjectId.from_string(field_id)).field_option.collect {|p| [ p.option, p.id ] } ,{},{:multiple => true,"data-validation" => "required"}) %></td>
        </tr>
      </table>
      <div class="modal-footer">
        <%= submit_tag "Create" ,:class => 'btn btn-primary'%>
        <a data-toggle="modal" href="#myAddMember" class="btn secondary">No</a>
      </div>
    </form>
  </div>
</div>

<a class="btn btn-primary" data-toggle="modal" href="#myAddMember" >Add Member</a>