<div class="control-group">
  <label class="control-label" style="color: #ffffff;"><%= field_name %></label>
  <div class="controls">
    <% if value != nil %>
        <%=  select(field_name,field_name, Field.find(field_id).field_option.collect {|p| [ p.option, p.id ] },{:selected  => value.field_option_id[0]},{:multiple => true}) %>
    <% else %>
        <%=  select(field_name,field_name, Field.find(field_id).field_option.collect {|p| [ p.option, p.id ] },{},{:multiple => true}) %>
    <% end %>
  </div>
</div>
<%= hidden_field(field_name, field_name+'_type',:value=> 'multi_option') %>