<div class="control-group">
  <label class="control-label" style="color: #ffffff;"><%= field_name %></label>
  <div class="controls">
    <% if required %>
        <%=  text_area(field_name,field_name, {  :rows => 5,:class => "span10",:value => value.text_value,"data-validation" => "required"}) %>
    <% else %>
        <%=  text_area(field_name,field_name, {:rows => 5,:class => "span10",:value => value.text_value}) %>
    <% end %>
  </div>
</div>
<%= hidden_field(field_name, field_name+'_type',:value=> 'text') %>