<div class="control-group">
  <label class="control-label" style="color: #ffffff;"><%= field_name %></label>
  <div class="controls">
    <% if required %>
        <%=  password_field(field_name,field_name, {:value => value.password_value},"data-validation" => "required",:class => "span10") %>
    <% else %>
        <%=  password_field(field_name,field_name, {:value => value.password_value,:class => "span10"}) %>
    <% end %>
  </div>
</div>
<%= hidden_field(field_name, field_name+'_type',:value=> 'password') %>