<td><%= field_name %></td>
<% if value != nil %>
    <td><%=  text_field(field_name,field_name, {:value => value.text_value}) %></td>
<% else %>
    <td><%=  text_field(field_name,field_name) %></td>
<% end %>
<%= hidden_field(field_name, field_name+'_type',:value=> 'text') %>